{{ "app-animated-font.css"| asset_url | stylesheet_tag }}
<div class="app-animation-container">
    <span class="app-text"></span>
    <img width="100" height="100" class="app-icon" alt="icon" />
</div>
<script src='{{ 'app-animated-font.js' | asset_url}}' async></script>