<!-- blocks/custom-registration-form.liquid -->
{% comment %} {{ "custom-form.css" | asset_url | stylesheet_tag}} {% endcomment %}
<div id="custom-form-container"></div>
<script src="{{ 'load_form.js' | asset_url}}" defer></script>
