{% if customer %}
    <span style="color:black">Price: {{ product.price | money }}</span>
  
  {% else %}
  <span style="color:black"> Login required to view prices.</span>
  <a href='https://united-wholesale.com/pages/wholesale-form'>Create an account.</a>
  {% endif %}